{% extends "global/base.html" %}

{% load i18n humanize %}

{% block header %}{% endblock header %}

{% block content %}

    <section id="inventory" class="py-5">
        <div class="container">
            <h2 class="section-title">{{ title|default:"Nosso Estoque" }}</h2>
            {% if search_value %}
                <p class="text-center text-muted mb-4">Exibindo resultados para: <strong>"{{ search_value }}"</strong></p>
            {% endif %}
            <div class="row g-4">
                {% for car in cars %}
                    <div class="col-lg-4 col-md-6">
                        {% include "cars/partials/car_card.html" with car=car %}
                    </div>
                {% empty %}
                    <div class="col">
                        <p class="text-center">Nenhum veículo encontrado no estoque com os critérios selecionados.</p>
                    </div>
                {% endfor %}
            </div>
            {% include "partials/pagination.html" %}
        </div>
    </section>

{% endblock content %}