{% extends "global/base.html" %}

{% load l10n %}
{% load i18n humanize%}

{% block header %}
{% endblock header %}


{% block content %}

    <div class="row">
                
        {# CAR GALLERY COLUMN #}
        <div class="col-lg-8">
            <div class="main-image-container">
                {% if car.cover %}
                    <img src="{{ car.cover.url }}" class="car-main-image" id="mainCarImage" alt="{{ car.brand }} {{ car.model }}">
                {% else %}
                    <img src="{{ site_setup.unknown_car.url }}" class="car-main-image" id="mainCarImage" alt="Imagem indisponível">
                {% endif %}
                <button class="gallery-nav prev" id="prevImageBtn"><i class="fas fa-chevron-left"></i></button>
                <button class="gallery-nav next" id="nextImageBtn"><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="row g-2 car-thumbnail-gallery" id="thumbnail-container">
                {% if car.image.front_view %}
                    <div class="col-3">
                        <img src="{{ car.image.front_view.url }}" alt="Miniatura Frontal">
                    </div>
                {% endif %}
                {% if car.image.side_view %}
                    <div class="col-3">
                        <img src="{{ car.image.side_view.url }}" alt="Miniatura Lateral">
                    </div>
                {% endif %}
                {% if car.image.interior_view %}
                    <div class="col-3">
                        <img src="{{ car.image.interior_view.url }}" alt="Miniatura Interior">
                    </div>
                {% endif %}
                {% if car.image.back_view %}
                    <div class="col-3">
                        <img src="{{ car.image.back_view.url }}" alt="Miniatura Traseira">
                    </div>
                {% endif %}
            </div>

            {# VEHICLE DESCRIPTION AND FEATURES #}
            <div class="details-card mt-4">
                <h3 class="section-subtitle">Descrição do Veículo</h3>
                <p style="text-align: justify;">{{ car.description }}</p>
            </div>
        </div>

        {# DETAILS AND RESOURCES COLUMN #}
        <div class="col-lg-4">
            <div class="details-card">
                <h1 class="car-title">{{ car.brand }} {{ car.model }} {{ car.version }}</h1>
                <p class="car-price-detail">R$ {{ car.value|floatformat:2 }}</p>
                <ul class="spec-list">
                    <li>Ano <span>{{ car.year|unlocalize }}</span></li>
                    <li>Quilometragem <span>{{ car.mileage }} km</span></li>
                    <li>Transmissão <span>{{ car.get_transmission_display }}</span></li>
                    <li>Cor Externa <span>{{ car.color }}</span></li>
                </ul>
            </div>
            <div class="details-card mt-4">
                <h3 class="section-subtitle mt-4">Recursos e Opcionais</h3>
                <div class="row">
                    {% if car.optionals.exists %}
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                {% for optional in car.optionals.all %}
                                    <li><i class="fas fa-check-circle text-success me-2"></i>{{ optional.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

            {# AVAILABILITY #}
            <div class="inquiry-card">
                {% if car.status != 'SOLD' %}
                    <a href="https://wa.me/{{ site_setup.whatsapp_number }}?text={{ whatsapp_message|urlencode }}" class="btn btn-success w-100 btn-lg" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i> Verificar Disponibilidade
                    </a>
                {% else %}
                    <button disabled="disabled" class="btn btn-secondary w-100 btn-lg"><i class="fas fa-ban"></i> Vendido!</button>
                {% endif %}
            </div>

        </div>
        
    </div>

{% endblock content %}