{% if is_paginated %}
    <nav aria-label="Navegação do Estoque" class="mt-5">
        <ul class="pagination justify-content-center">
            
            {# PREVIOUS BUTTON #}
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_value %}&search={{ search_value }}{% endif %}" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {# NUMBER OF PAGES #}
            {% for num in paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if search_value %}&search={{ search_value }}{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {# NEXT BUTTON #}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_value %}&search={{ search_value }}{% endif %}" aria-label="Próximo">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
            
        </ul>
    </nav>
{% endif %}